<form id='login-form' class='card'>
  <div>
    <h1 class='card-header'> Log In </h1>
  </div>
  <div class='card-body'>
    <div>
      <label for='username-input-login'>username:</label>
      <input type='text' id='username-input-login' />
    </div>
    <div>
      <label for='password-input-login'>password:</label>
      <input type='password' id='password-input-login' />
    </div>
    <div>
      <button type='submit'>login</button>
    </div>
    <div>
      <p> Haven't created an account yet? </p> <a href='/signup'>Sign Up</a> <p> instead!</p>  
    </div>
  </div>
</form>

<script src='/js/login.js'></script>